@charset "UTF-8";
// 强制换行
@mixin breakword(){
  white-space:normal;
  word-wrap : break-word;
  word-break:break-all;
}
// 屏幕居中
@mixin verCenterAbs{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
// 文字截断
@mixin dotdotdot{
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  overflow:hidden
}
// 清除浮动
@mixin clearfix(){
	*zoom: 1;
	&:before,&:after{
		display: table;
		content: " ";
	}
	&:after{
		clear: both;
	}
}